h2 {
    background-color: #90ee90;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: left;
}

h1 {
    background-color: #add8e6;
    font-style: italic;
}

#indexheader {
    display: inline;
}

img {
    width: 500px;
    height: auto;
}

.recipename {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: beige;
}

.ingredients {
    font-size: 32;
}